@model List<WebApplicationAPP.Models.Usuario>

<div class="col-md-4 mb-3">
    <div class="card p-3">
        <h5>📅 Citas del día</h5>
        <h2>@ViewBag.CitasHoy</h2>
    </div>
</div>

<div class="col-md-4 mb-3">
    <div class="card p-3">
        <h5>💰 Ingresos</h5>
        <h2>₡@ViewBag.IngresosHoy</h2>
    </div>
</div>

<div class="col-md-4 mb-3">
    <div class="card p-3">
        <h5>👤 Clientes atendidos</h5>
        <h2>@ViewBag.ClientesAtendidos</h2>
    </div>
</div>

<div class="col-md-4 mb-3">
    <div class="card p-3">
        <h5>🧑 Clientes Registrados</h5>
        <h2>@ViewBag.TotalClientes</h2>
    </div>
</div>

<div class="col-md-4 mb-3">
    <div class="card p-3">
        <h5>💈 Barberos Activos</h5>
        <h2>@ViewBag.TotalBarberos</h2>
    </div>
</div>

<div class="col-md-4 mb-3">
    <div class="card p-3">
        <h5>👥 Usuarios del Sistema</h5>
        <h2>@ViewBag.TotalUsuarios</h2>
    </div>
</div>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Usuario</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var b in Model)
        {
            <tr>
                <td>@b.Nombre</td>
                <td>@b.Username</td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.CitasProgramadas != null &&
    ((List<WebApplicationAPP.Models.Cita>)ViewBag.CitasProgramadas).Count > 0)
{
    <h3>Citas Programadas de Hoy</h3>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID Cita</th>
                <th>ID Cliente</th>
                <th>Hora</th>
                <th>Barbero</th>
                <th>Estado</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var cita in (List<WebApplicationAPP.Models.Cita>)ViewBag.CitasProgramadas)
            {
                <tr>
                    <td>@cita.IdCita</td>
                    <td>@cita.IdCliente</td>
                    <td>@cita.Hora</td>
                    <td>@cita.Barbero</td>
                    <td>@cita.Estado</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay citas programadas para hoy.</p>
}